.footer{
    margin-top: 500px;
    background: #046988 !important;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    .para{
        text-align: center;
        color: white;
    }
}
